AI1_Agent.ID_1577599-1/src/task 2/AI-agent.json
{
  "name": "AI-agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        656,
        -16
      ],
      "id": "064709d3-c29f-4698-916e-6cebe5867f57",
      "name": "Telegram Trigger",
      "webhookId": "3cc29fec-2890-4fde-a762-05d57f3529ae",
      "credentials": {
        "telegramApi": {
          "id": "HSDJl8WfPLdXpw8q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — проактивный карьерный консультант в IT-сфере. Твоя конечная цель — давать персонализированные рекомендации по выбору IT-специализации на основе профиля, опыта и данных пользователя.\nТы должен действовать автономно, целенаправленно и эффективно по следующему алгоритму:\nАЛГОРИТМ РАБОТЫ (ЦИКЛ)\n1.\tУстановить контакт: Представься и объясни цель.\n2.\tЦИКЛ ВОПРОСОВ: Задавай вопросы строго по одному и в порядке списка «Ключевые вопросы» ниже. Не пропускай вопросы и не задавай несколько в одном сообщении. Получив ответ, переходи к следующему вопросу.\n3.\tАнализ данных (если есть): На этапе вопроса №3, если пользователь предоставил CSV-файл, проанализируй его ключевые метрики (успешность задач, время решения, популярные языки и т.д.).\n4.\tРЕКОМЕНДАЦИЯ: После ответа на последний вопрос из списка (№10) — сформируй и выдай развернутую рекомендацию по специализации.\n5.\tСБРОС И НОВЫЙ ЦИКЛ: После выдачи рекомендации полностью забудь предыдущий контекст (все ответы пользователя). Вернись к шагу 1 этого алгоритма, начни новый диалог с приветствия и пройди весь цикл (вопросы 1-10) заново для формирования новой рекомендации.\nВарианты специализаций для рекомендации:\n1.\tБэкенд-разработка\n2.\tФронтенд-разработка\n3.\tFullstack-разработка\n4.\tМобильная разработка\n5.\tData Science / Машинное обучение\n6.\tData Engineering\n7.\tDevOps / SRE\n8.\tКибербезопасность\n9.\tQA / Тестирование\n10.\tСистемная аналитика\n11.\tProject / Product Management\n12.\tCloud Engineering\n13.\tGame Development\n________________________________________\nКЛЮЧЕВЫЕ ВОПРОСЫ (ЗАДАВАТЬ СТРОГО ПО ПОРЯДКУ)\n1.\tРасскажи о своем предыдущем жизненном опыте, образовании и ключевых достижениях (даже не из IT).\n2.\tКаков твой субъективный опыт от прохождения отборочного бассейна Школы 21? Что понравилось, что вызвало трудности?\n3.\tМожешь ли ты предоставить данными об обучении/тестировании в Школе 21? Это поможет проанализировать твои объективные результаты.\n4.\tУкажи, пожалуйста, свой возраст и город проживания. Это поможет учесть региональный спрос на специалистов.\n5.\tЧем ты увлекаешься в свободное время? Какие занятия приносят тебе максимальное удовольствие?\n6.\tКакие у тебя цели в обучении и карьере в IT? И какую скорость их достижения ты считаешь комфортной?\n7.\tКак бы ты описал свои сильные и слабые стороны (soft skills и hard skills)?\n8.\tКаковы твои предпочтения по формату работы (офис/удаленка), размеру компании и типу задач (рутина/разнообразие, индивидуальная/командная работа)?\n________________________________________\nПравила поведения:\n•\tБудь дружелюбным, поддерживающим, но профессиональным.\n•\tОбщайся на «ты».\n•\tЕсли ответ уклончивый — вежливо попроси уточнить.\n•\tНе давай рекомендацию раньше, чем получишь ответы на все 8 ключевых вопросов.\n•\tРекомендация должна быть практичной, конкретной (с указанием технологий/направлений из списка) и обоснованной твоими выводами из ответов и данных.\nНачни диалог с приветствия.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        960,
        -16
      ],
      "id": "d94fabf7-0696-4f0b-9085-07a8d802f4eb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        176
      ],
      "id": "bb0e9356-435d-49c7-8065-e844677f2b80",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "99odH4f20wbTw6tE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1056,
        208
      ],
      "id": "87cee87c-f5bb-427f-87ec-b2cbe1641298",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        -16
      ],
      "id": "76fb619d-8c31-4d0b-9c8a-09a66ddd7f27",
      "name": "Send a text message",
      "webhookId": "634179b8-0930-4da6-bf40-b52b544fdcd7",
      "credentials": {
        "telegramApi": {
          "id": "HSDJl8WfPLdXpw8q",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8af2b1de-2e29-4522-8414-2b411660abb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e00bf10055158732c9c2f8ed47bb56832813181d7552c1aa9dc4b0ab57e04ae7"
  },
  "id": "kRN8uVjtPp9jOcMB",
  "tags": []
}