AI1_Agent.ID_1577599-1/src/task 5/Personal mentor.json
{
  "name": "Personal mentor",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        0
      ],
      "id": "605965c6-3d52-487b-9dc8-5053a1540583",
      "name": "Telegram Trigger",
      "webhookId": "e6df6018-822e-4961-a089-6a96760ea636",
      "credentials": {
        "telegramApi": {
          "id": "HSDJl8WfPLdXpw8q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — ИИ-агент внутри n8n, который помогает создавать учебные планы.\n\nТвоя задача:\n1. Задай пользователю вопрос: \"Чему бы ты хотел научиться?\" в рамках работы над учебным проектом или подготовки к собеседованию и трудоустройству\n2. Уточни уровень владения темой (начальный, средний, продвинутый)\n3. На основе ответа пользователя сформируй контент-план в виде списка тем для изучения\n\nФормат плана обучения (точно соблюдай!):\nТема 1: [понятие 1, понятие 2, понятие 3...]\nТема 2: [понятие 1, понятие 2, понятие 3...]\nТема 3: [понятие 1, понятие 2, понятие 3...]\n\nВАЖНЫЕ ПРАВИЛА:\n- После плана добавь фразу: \"План готов! Отправьте 'готово' чтобы начать обучение.\"\n- Бот будет отправлять посты ПО ОДНОМУ ПОНЯТИЮ за раз\n- Каждый пост будет посвящен одному конкретному понятию\n- Понятия не будут повторяться\n- После изучения всех тем бот спросит: \"Что хотите изучать дальше?\"\n- Ты — ИИ-агент внутри n8n, который помогает создавать учебные планы.\n\nТвоя задача:\n1. Задай пользователю вопрос: \"Чему бы ты хотел научиться?\" в рамках работы над учебным проектом или подготовки к собеседованию и трудоустройству\n2. Уточни уровень владения темой (начальный, средний, продвинутый)\n3. На основе ответа пользователя сформируй контент-план в виде списка тем для изучения\n\nФормат плана обучения (точно соблюдай!):\nТема 1: [\"понятие 1\", \"понятие 2\", \"понятие 3\"]\nТема 2: [\"понятие 1\", \"понятие 2\", \"понятие 3\"]\nТема 3: [\"понятие 1\", \"понятие 2\", \"понятие 3\"]\n\nВАЖНЫЕ ПРАВИЛА:\n- Каждое понятие должно быть ОТДЕЛЬНЫМ элементом в кавычках\n- НЕ объединяй понятия через \"и\" или другие союзы\n- После плана добавь фразу: \"План готов! Отправьте 'готово' чтобы начать обучение.\"\n- Бот будет отправлять посты ПО ОДНОМУ ПОНЯТИЮ за раз\n- Каждый пост будет посвящен одному конкретному понятию\n- Понятия не будут повторяться\n- После изучения всех тем бот спросит: \"Что хотите изучать дальше?\"\n\nЕСЛИ ДЛЯ СОЗДАНИЯ ПЛАНА НУЖНЫ АКТУАЛЬНЫЕ ДАННЫЕ ИЗ ИНТЕРНЕТА:\n1. Не пытайся отвечать сам\n2. Напиши ровно: tavily(query=\"твой поисковый запрос о теме\")\n3. Например: tavily(query=\"последние тенденции в DevOps на 2025 год\")\n4. Никакого другого текста, только эту строку"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        0
      ],
      "id": "f299b4a6-f8a1-4fa8-bc9f-81d536b2d896",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        224
      ],
      "id": "e3b8f98f-1c00-4343-a464-5853127f694e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XdYlMinP70WDHwXb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function escapeMarkdownV2(text) {\n  if (!text || typeof text !== 'string') return '';\n  \n  let result = text;\n  \n  result = result\n    .replace(/\\\\\\\\\\./g, '.')      \n    .replace(/\\\\\\\\-/g, '-')      \n    .replace(/\\\\\\\\!/g, '!')      \n    .replace(/\\\\\\\\\\?/g, '?')     \n    .replace(/\\\\\\\\\\(/g, '(')     \n    .replace(/\\\\\\\\\\)/g, ')');    \n  \n  const symbols = [\n    ['_', '\\\\_'],\n    ['*', '\\\\*'],\n    ['[', '\\\\['],\n    [']', '\\\\]'],\n    ['(', '\\\\('],\n    [')', '\\\\)'],\n    ['~', '\\\\~'],\n    ['`', '\\\\`'],\n    ['>', '\\\\>'],\n    ['#', '\\\\#'],\n    ['+', '\\\\+'],\n    ['-', '\\\\-'],\n    ['=', '\\\\='],\n    ['|', '\\\\|'],\n    ['{', '\\\\{'],\n    ['}', '\\\\}'],\n    ['.', '\\\\.'],\n    ['!', '\\\\!'],\n    ['?', '\\\\?']\n  ];\n  \n  symbols.forEach(([find, replace]) => {\n    result = result.split(find).join(replace);\n  });\n  \n  return result;\n}\n\nfunction getNextConcept(userData) {\n  const topics = userData.currentPlan.topics;\n  \n  for (let t = userData.currentTopicIndex; t < topics.length; t++) {\n    const topic = topics[t];\n    const startIndex = (t === userData.currentTopicIndex) ? userData.currentConceptIndex : 0;\n    \n    for (let c = startIndex; c < topic.concepts.length; c++) {\n      const conceptKey = `${t}_${c}`;\n      if (!userData.publishedConcepts || !userData.publishedConcepts.includes(conceptKey)) {\n        return {\n          concept: topic.concepts[c],\n          topicIndex: t,\n          conceptIndex: c\n        };\n      }\n    }\n  }\n  \n  return null;\n}\n\nconst inputItem = $input.first();\nconst userMessage = inputItem.json.message?.text?.toLowerCase() || '';\nconst chatId = inputItem.json.message?.chat?.id;\nconst originalLanguage = inputItem.json.message?.text || '';\n\nif (userMessage === 'готово') {\n  const staticData = $getWorkflowStaticData('global');\n  const userData = staticData.learningPlans?.[chatId];\n  \n  if (userData?.waitingForConfirmation) {\n    userData.waitingForConfirmation = false;\n    userData.inProgress = true;\n    userData.currentTopicIndex = 0;\n    userData.currentConceptIndex = 0;\n    userData.publishedConcepts = [];\n    userData.completedTopics = [];\n    \n    const firstTopic = userData.currentPlan.topics[0];\n    const firstConcept = firstTopic.concepts[0];\n    \n    return [{\n      json: {\n        needsSearch: true,\n        searchQuery: `Объяснение \"${firstConcept}\" для начинающих`,\n        concept: firstConcept,\n        topicIndex: 0,\n        conceptIndex: 0,\n        chatId: chatId,\n        getNextConcept: true\n      }\n    }];\n  } else if (userData?.inProgress) {\n    const nextConcept = getNextConcept(userData);\n    \n    if (nextConcept) {\n      const conceptKey = `${nextConcept.topicIndex}_${nextConcept.conceptIndex}`;\n      if (!userData.publishedConcepts) userData.publishedConcepts = [];\n      userData.publishedConcepts.push(conceptKey);\n      \n      userData.currentTopicIndex = nextConcept.topicIndex;\n      userData.currentConceptIndex = nextConcept.conceptIndex + 1;\n      \n      return [{\n        json: {\n          needsSearch: true,\n          searchQuery: `Объяснение \"${nextConcept.concept}\" для начинающих с примерами`,\n          concept: nextConcept.concept,\n          topicIndex: nextConcept.topicIndex,\n          conceptIndex: nextConcept.conceptIndex,\n          chatId: chatId,\n          getNextConcept: true\n        }\n      }];\n    } else {\n      userData.inProgress = false;\n      userData.waitingForConfirmation = false;\n      \n      delete staticData.learningPlans[chatId];\n      \n      return [{\n        json: {\n          needsSearch: false,\n          response: escapeMarkdownV2(\"🎉 Поздравляем! Вы изучили все понятия из учебного плана!\\n\\nЧто хотите изучать дальше?\"),\n          chatId: chatId,\n          parse_mode: 'MarkdownV2',\n          startNewSession: true\n        }\n      }];\n    }\n  }\n}\n\nif (userMessage === 'дальше' || userMessage === 'next' || userMessage === 'следующее') {\n  const staticData = $getWorkflowStaticData('global');\n  const userData = staticData.learningPlans?.[chatId];\n  \n  if (userData?.inProgress) {\n    const nextConcept = getNextConcept(userData);\n    \n    if (nextConcept) {\n      const conceptKey = `${nextConcept.topicIndex}_${nextConcept.conceptIndex}`;\n      if (!userData.publishedConcepts) userData.publishedConcepts = [];\n      userData.publishedConcepts.push(conceptKey);\n      \n      userData.currentTopicIndex = nextConcept.topicIndex;\n      userData.currentConceptIndex = nextConcept.conceptIndex + 1;\n      \n      return [{\n        json: {\n          needsSearch: true,\n          searchQuery: `Объяснение \"${nextConcept.concept}\" для начинающих`,\n          concept: nextConcept.concept,\n          topicIndex: nextConcept.topicIndex,\n          conceptIndex: nextConcept.conceptIndex,\n          chatId: chatId,\n          getNextConcept: true\n        }\n      }];\n    }\n  }\n}\n\nlet aiResponse = '';\n\nif (inputItem.json.response !== undefined && inputItem.json.response !== null) {\n  aiResponse = String(inputItem.json.response);\n} else if (inputItem.json.text !== undefined && inputItem.json.text !== null) {\n  aiResponse = String(inputItem.json.text);\n} else if (inputItem.json.message && typeof inputItem.json.message === 'string') {\n  aiResponse = inputItem.json.message;\n} else if (inputItem.json.output !== undefined && inputItem.json.output !== null) {\n  aiResponse = String(inputItem.json.output);\n} else if (inputItem.json.chatOutput !== undefined && inputItem.json.chatOutput !== null) {\n  aiResponse = String(inputItem.json.chatOutput);\n} else if (inputItem.json.message?.text) {\n  aiResponse = inputItem.json.message.text;\n}\n\nconst tavilyRegex = /tavily\\s*\\(\\s*query\\s*=\\s*\"([^\"]+)\"\\s*\\)/i;\nconst tavilyMatch = aiResponse.match(tavilyRegex);\n\nif (tavilyMatch) {\n  const query = tavilyMatch[1].trim();\n  \n  return [{\n    json: {\n      needsSearch: true,\n      searchQuery: query,\n      originalQuestion: originalLanguage,\n      aiResponse: aiResponse,\n      chatId: chatId,\n      isTavilyRequest: true\n    }\n  }];\n}\n\nconst hasStrictPlanFormat = aiResponse.match(/Тема\\s*\\d+\\s*:\\s*\\[[^\\]]+\\]/i);\n\nif (hasStrictPlanFormat) {\n  const topics = [];\n  const lines = aiResponse.split('\\n');\n  \n  for (let line of lines) {\n    line = line.trim();\n    \n    const match = line.match(/Тема\\s*(\\d+)\\s*:\\s*\\[([^\\]]+)\\]/i);\n    \n    if (match) {\n      const topicNumber = match[1];\n      const conceptsString = match[2];\n      \n      const rawConcepts = conceptsString.split(',').map(c => c.trim());\n      const cleanConcepts = [];\n      \n      for (let concept of rawConcepts) {\n        let cleanConcept = concept\n          .replace(/^[\"']|[\"']$/g, '')  \n          .replace(/\\.+$/, '')          \n          .trim();\n        \n        if (cleanConcept.includes(' и ')) {\n          const parts = cleanConcept.split(' и ');\n          parts.forEach(part => {\n            const trimmed = part.trim();\n            if (trimmed && trimmed.length > 1) {\n              cleanConcepts.push(trimmed);\n            }\n          });\n        } else if (cleanConcept && cleanConcept.length > 1) {\n          cleanConcepts.push(cleanConcept);\n        }\n      }\n      \n      if (cleanConcepts.length > 0) {\n        topics.push({\n          name: `Тема ${topicNumber}`,\n          concepts: cleanConcepts,\n          completed: false\n        });\n      }\n    }\n  }\n  \n  if (topics.length > 0) {\n    const staticData = $getWorkflowStaticData('global');\n    if (!staticData.learningPlans) staticData.learningPlans = {};\n    \n    delete staticData.learningPlans[chatId];\n    \n    staticData.learningPlans[chatId] = {\n      currentPlan: {\n        topics: topics,\n        createdAt: new Date().toISOString()\n      },\n      currentTopicIndex: 0,\n      currentConceptIndex: 0,\n      publishedConcepts: [],\n      waitingForConfirmation: true,\n      inProgress: false,\n      completedTopics: []\n    };\n    \n    let planMessage = \"✅ *Учебный план создан\\\\!*\\n\\n\";\n    planMessage += \"📋 *Всего понятий для изучения:*\\n\";\n    \n    let totalConcepts = 0;\n    topics.forEach((topic, idx) => {\n      planMessage += `\\n*${topic.name}* \\\\(${topic.concepts.length} понятий\\\\):\\n`;\n      topic.concepts.forEach((concept, cIdx) => {\n        const escapedConcept = escapeMarkdownV2(concept);\n        planMessage += `  ${totalConcepts + 1}\\\\. ${escapedConcept}\\n`;\n        totalConcepts++;\n      });\n    });\n    \n    planMessage += `\\n*Всего: ${totalConcepts} понятий*\\n\\n`;\n    planMessage += \"Я буду отправлять посты *ПО ОДНОМУ ПОНЯТИЮ*\\\\.\\n\";\n    planMessage += \"Понятия не будут повторяться\\\\.\\n\";\n    planMessage += \"Сначала все понятия из Темы 1, затем Темы 2 и т\\\\.д\\\\.\\n\\n\";\n    planMessage += \"*Отправьте 'готово' чтобы начать обучение*\\\\.\\n\";\n    planMessage += \"_Используйте 'дальше' для следующего понятия_\";\n    \n    return [{\n      json: {\n        needsSearch: false,\n        response: planMessage,\n        chatId: chatId,\n        parse_mode: 'MarkdownV2'\n      }\n    }];\n  }\n}\n\nconst escapedResponse = escapeMarkdownV2(aiResponse);\n\nreturn [{\n  json: {\n    needsSearch: false,\n    response: escapedResponse,\n    chatId: chatId,\n    parse_mode: 'MarkdownV2'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "95d94363-fbb7-42cc-a826-497ea3f0f70c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0bcf0256-4f64-4e58-a0b6-627c00cadbd3",
              "leftValue": "={{ $json.needsSearch }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "8ec558b4-25f0-4bc2-a250-0482d88f3d62",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet finalResponse = '';\nlet parseMode = 'MarkdownV2';\n\n// Получаем первый элемент\nconst firstItem = $input.first();\n\n\n// Получаем ответ (уже отформатированный)\nif (firstItem.json.response !== undefined && firstItem.json.response !== null) {\n  finalResponse = String(firstItem.json.response);\n  if (firstItem.json.parse_mode) parseMode = firstItem.json.parse_mode;\n} else if (firstItem.json.output !== undefined && firstItem.json.output !== null) {\n  finalResponse = String(firstItem.json.output);\n}\n\n// Если ответ пустой\nif (!finalResponse || finalResponse.trim() === '') {\n  finalResponse = \"Извините, произошла ошибка при обработке запроса\\\\.\";\n}\n\n// Ограничиваем длину\nif (finalResponse.length > 4000) {\n  finalResponse = finalResponse.substring(0, 3997) + '\\\\.\\\\.\\\\.';\n}\n\n\n// Возвращаем как есть\nreturn [{\n  json: {\n    message: finalResponse,\n    parse_mode: parseMode\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        144
      ],
      "id": "d1d5fb30-bf72-4179-b698-d8766dc95ca6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"={{$json.searchQuery}}\",\n  \"search_depth\": \"basic\",\n  \"include_answer\": true,\n  \"max_results\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        -224
      ],
      "id": "36a0b0f5-e9a2-478e-ba16-352309feaa0d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Исходный вопрос пользователя:\n{{ $json.query }}\n\nОтвет Tavily (JSON):\n{{ $json.answer }}\n\nСформулируй лаконичный ответ пользователю по этому вопросу.",
        "options": {
          "systemMessage": "Ты — терпеливый ИИ-преподаватель. Твоя задача — объяснять учебные понятия простыми словами.\n\nКОНТЕКСТ: Пользователь изучает \"{{$json.concept}}\"\n\nФОРМАТ ОБЪЯСНЕНИЯ:\n📚 **Что это?** - краткое определение\n🎯 **Основные особенности** - 2-3 ключевых момента  \n📝 **Пример** - практический пример или аналогия\n💡 **Как использовать** - применение на практике\n🚀 **Следующий шаг** - что изучить дальше по теме\n\nВАЖНЫЕ ПРАВИЛА ФОРМАТИРОВАНИЯ:\n1. НЕ используй экранирование символов (не пиши \\\\. \\\\- \\\\! и т.д.)\n2. Код оборачивай в тройные апострофы БЕЗ экранирования, например:\n   ```python\n   print(\"Hello, World!\")"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1584,
        -224
      ],
      "id": "c0a9f410-7633-402b-b470-577af1e9a829",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1584,
        -48
      ],
      "id": "bdc1c66c-e3a5-442f-a049-ad91f1a43e79",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XdYlMinP70WDHwXb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        -224
      ],
      "id": "eb6f8306-f240-4532-b36f-4bc0cc86d987",
      "name": "Send a text message",
      "webhookId": "81c891e3-d331-469a-92eb-8128aff88471",
      "credentials": {
        "telegramApi": {
          "id": "HSDJl8WfPLdXpw8q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        144
      ],
      "id": "d2a101c6-35dd-4374-ac8b-1f940c6b3eda",
      "name": "Send a text message1",
      "webhookId": "7e49918b-80c9-42a6-9045-2a244fc90050",
      "credentials": {
        "telegramApi": {
          "id": "HSDJl8WfPLdXpw8q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        240
      ],
      "id": "d942638d-684c-409b-b38d-508ceb0f84be",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "812737ad-da76-44f2-8e19-8acd73266062",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e00bf10055158732c9c2f8ed47bb56832813181d7552c1aa9dc4b0ab57e04ae7"
  },
  "id": "jvGIELbXdDVPe4R9",
  "tags": []
}